[client]
host     =localhost
user     ="{{ mysql_root_username }}"
password ="{{ mysql_root_password }}"
socket   ={{ mysql_socket }}
[mysql_upgrade]
host     =localhost
user     ="{{ mysql_root_username }}"
password ="{{ mysql_root_password }}"
socket   ={{ mysql_socket }}
